@import "tailwindcss";

@font-face {
  font-family:"SpaceGrotesk";
  src:url("/fonts/SpaceGrotesk.ttf")format("truetype");
  font-weight:100900;
  font-style:normal;
}

body {
  font-family:"SpaceGrotesk",sans-serif;
}